<div class="fondo">
    <div class="container align">
        <div class="info">
            <h1> Jose Agustin Fernandez Bridda</h1>
            <h2>MSc Mechanical Engineer</h2>
            <p class="mt-5">Versatile, results-oriented mechanical engineer, with +8 years of professional experience in multinational companies operating in domestic and foreign markets. Experience in leading medium to large Capex projects (+USD 5MM/year) within macro-economic
                shifting and volatile environment, delivering good results in time and manner. Able to manage and lead large cross-functional teams during project phases without losing people skills growth focus. Passionate to involve in technical problems
                and the consequent design and implementation of cost-effective and out-of-thebox solutions.</p>
        </div>
        <img src="./assets/fotoAgu.png" alt="FotoCV">

    </div>
</div>